# الحماية والأسرار
.env


# قواعد البيانات المحلية
db.sqlite3


# البيئات الافتراضية (هام جداً)
venv/
env/
.venv/
ENV/


# الملفات المؤقتة وبايثون
__pycache__/
*.pyc
*.pyo
*.pyd


# ملفات النظام (ويندوز وماك)
.DS_Store
Thumbs.db


# ملفات التجميع والملفات الثابتة
/staticfiles/
